<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectPro</title>
    <meta name="description" content="ProjectPro is an online integrated platform for project management.">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><h1>ProjectPro</h1></a>
            <p>Project Management Tool</p>
        </div>
        <nav>
            <a href="/admin"><button>Admin</button></a>
            <a href="/login"><button>Student</button></a>
            <a href="/register"><button>sign up</button></a>
            <a href="/about"><button>About</button></a>
            <!-- <a href="/about">About</a> -->
        </nav>
    </header>